@use 'variables';

h2 {
    color: blue;
}

h1 {
    color: variables.$red_color;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-top: 4px;
}

.checkbox-select-all-options {
    width: 160px;
    margin: 0 16px;
}
