<nav
    class='navbar bg-dark navbar-expand-lg bg-body-tertiary'
    data-bs-theme='dark'
>
    <div class='container-fluid'>
        <a class='navbar-brand' href='/'>Vesper</a>
        <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ms-auto me-5 mb-lg-0'>
                <li class='nav-item dropdown'>
                    <a
                        class='nav-link dropdown-toggle'
                        href='#'
                        role='button'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >
                        <img
                            src='https://www.gravatar.com/avatar/463e52dff1c113ddcd110339a749532765420d21c2c36c8f670362076c64f19d.jpg?s=80&d=mp&r=g'
                            alt=''
                            class='user-avatar'
                        />
                        Dropdown
                    </a>
                    <ul class='dropdown-menu'>
                        <li>
                            <a class='nav-link' href='/courses/create'>Đăng khóa
                                học</a></li>
                        <li>
                            <hr class='dropdown-divider' />
                        </li>
                        <li>
                            <a class='nav-link' href='/me/stored/courses'>Khóa
                                học của tôi</a></li>
                        <li>
                            <hr class='dropdown-divider' />
                        </li>
                        <li>
                            <a class='nav-link' href='/me/stored/new'>Bài đăng
                                của tôi</a></li>
                        <li>
                            <hr class='dropdown-divider' />
                        </li>
                        <li><a class='dropdown-item' href='#'>Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>