<div class="search-form mt-3">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Từ Khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="Nhập từ khóa...">
        </div>
        <div class="mb-3">
            <label for="gender-input" class="form-label"></label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">Chọn giới tính</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
    </form>
</div>